<div class="tw-m-4">
  {{ui/heading level=2 text=model.name}}

  <hr class="tw-my-2">

  <div class="tw-my-2">
    {{ui/heading level=4 text="Email"}}
    {{ui/text text=model.email}}
  </div>

  <div class="tw-my-2">
    {{ui/heading level=4 text="Roles"}}
    {{ui/text text=model.rolesStringified}}
  </div>

  <div class="tw-my-2">
    {{ui/heading level=4 text="Created At"}}
    {{ui/text text=model.createdAt}}
  </div>

  <div class="tw-my-2">
    {{ui/heading level=4 text="Updated At"}}
    {{ui/text text=model.updatedAt}}
  </div>

  <hr class="tw-my-2">

  <div class="tw-my-2">
    {{#link-to "authenticated.users.index"}}Back to users list{{/link-to}} |
    {{#link-to "authenticated.users.edit" model}}Edit{{/link-to}}
  </div>
  
</div>