
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Parent</th>
      <th>Children</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>

    {{#each model as |folder|}}
      <tr class="odd:tw-bg-gray-200">

      <td>{{folder.name}}</td>
      <td>{{folder.url}}</td>

      <td>{{folder.parent.url}}</td>

      <td>
      {{#each folder.children as |subfolder|}}
      - {{subfolder.url}} <br />
      {{/each}}
      </td>

      <td>
      {{#each folder.images as |image|}}
      - {{image.url}} <br />
      {{/each}}
      </td>

      </tr>
    {{/each}}
  </tbody>
</table>
