<h1>Here are all your images dawg</h1>

<p><%= link_to "Create a image", new_image_path %></p>

<table>

  <tr>
    <td>Name</td>
    <td>Image</td>
  </tr>

  <% @images.each do |image| %>
    <tr>
      <td><%= image.name %></td>
      <td><%= image_tag image.file.variant(resize: '100x100') if image.file.attached? %></td>
      <td><%= link_to "Edit", edit_image_path(image) %></td>
      <td><%= link_to "Show", image_path(image) %></td>
      <td><%= link_to "Delete", image_path(image), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>

</table>