<FileDropzone @name="photos" as |dropzone queue|>
  {{#if dropzone.active}}
    {{#if dropzone.valid}}   
      <UploadDropOverlay as |overlay|>
        <overlay.message @opacity="75">
          <span class="tw-mr-2">Upload files</span>
          <UiIcon @name="cloud-upload" />
        </overlay.message>
        <overlay.body>
          {{yield}}
        </overlay.body>
      </UploadDropOverlay>
    {{else}}
      <UploadDropOverlay as |overlay|>
        <overlay.message @opacity="75">
          <span class="tw-mr-2">Invalid</span>
        </overlay.message>
        <overlay.body>
          {{yield}}
        </overlay.body>
      </UploadDropOverlay>
    {{/if}}
  {{else if queue.files.length}}
    <UploadDropOverlay as |overlay|>
      <overlay.message @opacity="75">
        <span class="tw-mr-2">
          Uploading {{queue.files.length}} files. ({{queue.progress}}%)
        </span>
        <UiIcon @name="cloud-upload" />
      </overlay.message>
      <overlay.body>
        {{yield}}
      </overlay.body>
    </UploadDropOverlay>
  {{else}}
    <UploadDropOverlay as |overlay|>
      <overlay.body>
        {{yield}}
      </overlay.body>
    </UploadDropOverlay>
    <FileUpload @name="photos" @for="upload-photo" @accept="image/*" @multiple={{true}} @onfileadd={{action uploadImage}} />
  {{/if}}
</FileDropzone>
